/*PRIMARY STYLE */

*, *::aftebodyr, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 100%;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #777;
}

a:hover {
  text-decoration: underline;
}
/*END PRIMARY STYLE */


/*LORY SLIDER CSS*/
/**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */
.slider {
  position: relative;
     margin: 0 auto;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: -moz-none;
     -o-user-select: none;
     user-select: none;
     z-index: 1;
     height: 100vh;
}

.frame {
    /**
     * (optional) wrapper width, specifies width of the slider frame.
     */
    position: relative;
    width: 100vw;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.slides {
  display: inline-block;
}

.frame li {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    font-size: 15px;
    line-height: 30px;
    background: #2E435A;
    color: #333;
    width: 100vw;
}

#slide-1{
  background-image: url('../images/slider-1.png');
  background-repeat: no-repeat;
  background-position: 20% 1%;
  background-color: #f5f5f5;
}

#slide-2{
  background-image: url('../images/slider-2.png');
  background-repeat: no-repeat;
  background-position: 20% 1%;
  background-color: #efefef;
}

.prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
}

.next {
    right: 3%;
}

.prev {
    left: 3%;
}

.next svg, .prev svg {
    width: 25px;
}

#slider-index {
  position: absolute;
  bottom: 20px;
  right: 5%;
}


/*END OF LORY SLIDER*/

.logo {
  position: absolute;
  z-index: 9;
  color: #333;
  font-size: 2.5em;
  line-height: 10px;
  left: 3%;
  top: 3%;
}

nav {
  padding: 3% 5%;
  margin: 0;
  position: absolute;
  z-index: 9;
  right: 0;
}

.nav-desktop__list {
  max-width: 400px;
}

.nav-desktop__list-item {
  display: inline-block;
  margin-right: 10px;
}

.slide-content {
  position: relative;
  top: 45%;
  left: 50%;
}

p.headline, p.subhead {
  margin: 1% 0;
  padding: 0;
}

.headline {
  font-size: 2.5em;
  letter-spacing: 5px;
}

.subhead {
  letter-spacing: 2px;
  font-size: 1.5em;
  color: #777;
}


/*CONTROL CATEGORY*/

hr { background-color: #b2b2b2; border: 0; height: 1px; }

.category-item {
  font-size: 1em;
  line-height: 2em;
  color: #999;
}

.category-item sup {
  font-family: 'Source Code Pro', sans-serif;
  color: #aaa;
}

.label {
  position: relative;
  top: 20px;
  height: 10px;
  padding-bottom: 30px;
}

.sub-control {

  margin-bottom: 2em;
}

input[type='range'] {
  width: 80%;
}

input[type='color'] {
  width: 200%;
  height: 200%;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type='text'] {
  width: 20%;
  border: 1px solid #ddd;
  color: #bbb;
  padding: 1%;
}

button {
  width: 20%;
  height: 27px;
  border: 1px solid #ddd;
  color: #777;
  margin-left: 30px;
}

.color-picker {
  width: 49px;
  height: 49px;
  overflow: hidden;
  border-radius: 50%;
  margin: 2%;
  display: inline-block;
  border: 1px solid #ddd;
  position: relative;
}


.control-filter {
  /*margin-top: 60px;*/
}